<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>request</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
</head>
<body>
    <div id="app">
        url: <input type="text" v-model="url"> <br>
        json: <textarea rows="10" cols="100" v-model="body"></textarea> <br>
        <button type="button" @click="send">发送</button> <br>
        response: <div>{{response}}</div>
    </div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            url:'/babehub',
            body:'{page:1}',
            response: '...'
        },
        methods:{
            send:function(){
                this.$http.post(this.url, this.body).then(function(response){
                    app.$data.response = response.body;
                });
            }
        }
    })
</script>
</body>
</html>